.secondary-research {
    margin-top: 2rem;
    display: flex;
    &__container {
        display: block;
        display: flex;
        flex-direction: column;
        padding: 2.5rem 1.5rem;
        min-width: 17rem;
        height: 6.9rem;
        color: #FFF;
        background-color: $blue;
        border-radius: .5rem;
    }        
    &__input {
        background-color: $blue;
        color: #FFF;
        display: none;
        font-size: 1.8rem;
        outline-style: none;
        width: 100%;
        &::placeholder {
            color: rgba(#FFF, .5);
        }
    }
    &__list {
        display: none;
    }
}

.active {
    & h2 {
        display: none;
    }
    & .secondary-research {
        &__container {
            min-width: 25rem;
        }
        &__input {
            display: block;
        }
        &__list {
            display: block;
            background-color: $blue;
            margin: 1.5rem -1.5rem 0 -1.5rem;
            padding: 0 1.5rem 1.5rem 1.5rem;
            border-radius: 0 0 .5rem .5rem;
            column-count: 4;
            & p {
                font-size: 1.8rem;
                padding: .5rem 0;
            }
        }
    }
}