.secondary-research {
    margin-top: 2rem;
    display: flex;
    column-gap: 2rem;
    &__title {
        position: relative;
    }
    &__container {
        display: block;
        display: flex;
        flex-direction: column;
        padding: 2.5rem 1.5rem;
        min-width: 17rem;
        height: 6.9rem;
        color: #FFF;
        border-radius: .5rem;
        & a {
            font-size: 1.8rem;
        }
    }        
    &__input{
        font-size: 1.8rem;
        width: 100%;
        display: none;
        outline-style: none;
        color: #FFF;
        &__container {
            position: relative;
            display: none;
        }
        &::placeholder {
            color: rgba(#FFF, .5);
        }
    }
    &__list {
        display: none;
    }

    &__ingredients {
        background-color: $blue;
    }
    
    &__appliances {
        background-color: $green;
    }

    &__ustensils {
        background-color: $orange;
    }
}

.fas {
    font-size: 1.6rem;
}

.fa-chevron-up {
    position: absolute;
    top: .5rem;
    right: 2.8rem;
}

.fa-chevron-down {
    position: absolute;
    top: .5rem;
    right: 1.8rem;
}

.active {
    & a {
        display: none;
    }
    & .secondary-research {
        &__input {
            display: block;
            &__container {
                display: block;
            }
        }
        &__list {
            min-width: 89rem;
            display: block;
            margin: 1.5rem -1.5rem 0 -1.5rem;
            padding: 0 1.5rem 1.5rem 1.5rem;
            border-radius: 0 0 .5rem .5rem;
            columns: 28rem;
            & a {
                display: block;
                font-size: 1.8rem;
                padding: .5rem 0;
                &:hover {
                    color:rgba(#FFF, .5); 
                }
            }
        }
    }
}

.tag {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #FFF;
    padding: 1rem 2rem;
    border-radius: .5rem;
    &__container {
        margin-top: 2.5rem;
        margin-top: 1.5rem;
        display: flex;
        column-gap: 2rem;
        row-gap: 2rem;
        flex-wrap: wrap;
    }
}

.ingredient {
    background-color: $blue;
}

.appliance {
    background-color: $green;
}

.ustensil {
    background-color: $orange;
}

.fa-times-circle {
    font-size: 2rem;
    margin-left: 1.3rem;
}

